annotated-types
anyio
beautifulsoup4
bs4
certifi
charset-normalizer
distro
dotenv
gitpython
google_search_results
googlesearch-python
h11
httpcore
httpx
idna
jiter
openai
pandas
pydantic
pydantic_core
pyathena
python-dotenv
python-magic
PyYAML
requests
serpapi
sniffio
soupsieve
tqdm
typing_extensions
urllib3
launchpadlib
Scrapy